script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
    messageStyle: "none",
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      preview: "none"
    }
  });

script(type='text/javascript', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML', async)
